{{define "header"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{.Meta.Title}}</title>
    </head>
    <body>
{{end}}

{{define "footer"}}
    </body>
</html>
{{end}}

{{define "page"}}
    {{template "header" .}}
    <h1>{{.Meta.Title}}</h1>
    {{.Meta.Content}}
    {{template "footer" .}}
{{end}}
